* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #000;
}
.swal2-icon {
  zoom : 1.5;
}

.swal2-x-mark {
  zoom : 2.6;
}

.swal2-container {
  zoom: 2.5;
}