.navbar {
  opacity: 0.8;
  padding: 1rem 1rem;
  width: 100%;
  position: fixed;
  font-family: "Roboto", sans-serif;
  z-index: 10000;
}

.welcome {
  padding-left: 1rem;
  font-family: 'Inter Tight', sans-serif;
}

.welcome h1 {
  color: #fff;
  font-size: 2.4rem;
  font-family: 'Inter Tight', sans-serif;
}
.welcome span {
  font-size: 2.4rem;
}

.btnNav {
  font-family: 'Poppins', sans-serif;
  padding: .6rem 1.2rem;
  margin: 0.2rem 1.2rem;
  border-radius: 2rem !important;
  font-size: 1.6rem !important;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  /* ทำ hamburger menu */
  .navbar {
    opacity: 0.8;
    display: flex;
    align-content: space-between;
    padding: 1rem 1rem;
    width: 100vw;
    position: fixed;
  }

  .btn-mobile {
    font-size: 16px;
    padding: 20px;
  }

  .btnNav {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
  }
}
